@font-face {
    font-family: rubik-medium;
    src: url(./fonts/static/Rubik-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url(./fonts/static/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url(./fonts/static/Rubik-ExtraBold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #888888;
    --white: #fff;
    --off-white: #fafafa;
    --tertiary: #fbfbfb;
    --whitish-green: #e0f2e5;
    --light-green: #51B56D;
    --medium-green: #3f9457;
    --dark-green: #198754;
    --nav-black: #040404;
}

body {
    line-height: 1.7;
    font-family: rubik-medium, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--body-background);
    margin: 0;
    padding: 0;
}

.highlight {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.body-header {
    background-color: var(--off-white);
    padding: 1rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    /* border: 1px solid black; */
    background-color: var(--off-white);
    padding: 6rem 8rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* border: 1px solid red; */
}

.nav-item {
    /* padding: .4rem 2rem; */
    /* line-height: 2; */
    cursor: pointer;
}

a {
    text-decoration: none;
    /* color: #007bff; */
}

.nav-link {
    text-decoration: none;
    color: var(--nav-black);
    font-weight: 500;
    /* margin: 0rem 2rem; */
    padding: .5rem 1rem;
    /* line-height: 5rem; */
    /* border: 1px dashed purple; */
}

.page-link {
    color: var(--nav-black);
}

.page-link:hover {
    color: var(--dark-green);
}

.nav-link:hover {
    cursor: pointer;
    color: var(--dark-green);
    border-bottom: 3px solid var(--dark-green);
    /* display: block; */
}

.nav-item:hover .drop-down-menu {
    display: block;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: .5rem;
}

.drop-down-menu {
    display: none;
    list-style: none;
    position: absolute;
}

.dd-nav-item {
    line-height: 2.5rem;
}

.dd-nav-link {
    color: var(--nav-black);
}

.dd-nav-link:hover {
    color: var(--dark-green);
}

.btn {
    border-radius: .5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    /* font-size: 15px; */
    text-transform: capitalize;
    /* padding: 13px 28px; */
    position: relative;
    /* z-index: 1; */
    font-weight: 650;
    /* letter-spacing: .1rem; */
    transition: .2s ease;
    overflow: hidden;
    border: 0;
    /* font-family: "Rubik", sans-serif; */
}

.btn-transparent {
    /* color: var(--dark-green); */
    background-color: transparent;
}

.btn-transparent:hover {
    color: var(--dark-green);
    background-color: var(--whitish-green);
}

.btn-light {
    color: var(--dark-green);
    background-color: var(--whitish-green);
}

.btn-light:hover {
    color: var(--white);
    background-color: var(--light-green);
}

.btn-dark {
    color: var(--white);
    background-color: var(--light-green);
}

.btn-dark:hover {
    color: var(--white);
    background-color: var(--dark-green);
}

/* .nav-btn-group {
    display: flex;
    gap: 1rem;
} */
.btn-group {
    display: flex;
    /* background-color: #888888; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    color: #040404;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

h3 {
    color: #040404;
    font-family: "Rubik", sans-serif;
    /* font-weight: 600; */
}

.block-h1 {
    font-size: 3.5rem;
    line-height: 4rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-0 {
    margin-top: 0rem;
}

.p-2 {
    padding: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-6 {
    padding-left: 6rem;
}

.pr-6 {
    padding-right: 6rem;
}

.paragraph {
    font-size: 16px;
    color: #888888;
}

.row {
    /* max-width: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid black; */
}

.col-1 {
    width: 8.333%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.666%;
}

.col-10 {
    width: 83.333%;
}

.col-12 {
    width: 100%;
}

.pr-3 {
    padding-right: 3rm;
}

.pl-3 {
    padding-left: 3rm;
}

.img-9 {
    width: 100%;
    margin-left: 3rem;
    /* border: 1px solid black; */
}

.bg-white {
    background-color: #fff;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.card-caption {
    color: var(--medium-green);
    text-transform: uppercase;
    font-family: Rubik;
    font-weight: 700;
}

.lead-h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.lead-h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 1rem 0rem;
}

.purple-box {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 1.5rem;
    border-radius: 8px;
    color: #917AEB;
    background-color: rgba(145, 122, 235, 0.2);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.green-box {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 1.5rem;
    border-radius: 8px;
    color: #51B56D;
    background-color: rgba(81, 181, 109, 0.2);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.green-box-white-text {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 1.5rem;
    border-radius: 8px;
    color: var(--white);
    background-color: #51B56D;
    /* background-color: rgba(81, 181, 109, 0.2); */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.green-round-box-white-text {
    height: 70px;
    width: 70px;
    border: .5rem solid var(--whitish-green);
    line-height: 70px;
    font-size: 1.5rem;
    border-radius: 50%;
    color: var(--white);
    background-color: #51B56D;
    /* background-color: rgba(81, 181, 109, 0.2); */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transparent-box {
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 8px;
    color: var(--nav-black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.transparent-box:hover {
    color: var(--dark-green);
    cursor: pointer;
}

.leading-card {
    /* border: 1px solid #d3d3d3; */
    /* margin-top: 0px; */
    padding-bottom: 3rem;
}

.services-card {
    border: 1px solid #d3d3d3;
    padding: 2rem;
}


.services-card:hover {
    /* border: 1px solid #913333; */
    box-shadow: 0px 0px 30px 5px #d4d1d1;
}

.text-gray {
    color: #888888;
}

.side-cards-container {
    padding: 0rem 2rem;
}

.side-card {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.side-card:hover {
    box-shadow: 0px 0px 30px 5px #d4d1d1;
}

.side-card-body {
    margin-left: 2rem;
}

.side-card-h3 {
    font-size: 1.5rem;
    /* line-height: 2.5rem; */
    /* margin: 1rem 0rem; */
}

.position-relative {
    position: relative;
}

.tab-container {
    /* background-color: var(--off-white); */
    padding: 6rem 8rem;
    /* position: relative; */
    width: 100%;
}

.container-dark {
    /* width: 80%; */
    text-align: center;
    margin: auto;
    padding-top: 8rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 20rem;
    border-radius: 1rem;
}

.container-light {
    width: 90%;
    background-color: var(--white);
    text-align: center;
    padding: 8rem 5rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: -15rem;
    box-shadow: 0px 0px 30px 5px #d4d1d1;
}

.contents-center {
    width: 100%;
    text-align: center;
    padding: 0rem 20rem;
}
.md-center{
    padding: 0rem 10rem;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin-top: 3rem;
}

.card-v {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0px 0px 1px 0px #d4d1d1;
}

.card-header-h {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card-image {
    border-radius: .5rem;
}

.card-paragraph a {
    color: var(--dark-green);
}

.FAQ {
    width: 100%;
    text-align: center;
    padding: 0rem 15rem;
}

.accordian-container {
    /* display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: auto;
    gap: 1rem; */
    /* padding: 1rem; */
    box-shadow: 0px 0px 80px 0px #d4d1d1;
    border-radius: .5rem;
    padding: 3rem;
}

.faq-accordian-container {
    /* display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: auto;
    gap: 1rem; */
    /* padding: 1rem; */
    /* box-shadow: 0px 0px 80px 0px #d4d1d1; */
    border-radius: .5rem;
    padding: 3rem 10rem;
}

.accordian {
    padding: .5rem 1.5rem;
}

.btn-accordian {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-accordian img {
    width: 30px;
}

.accordian-detail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* display: none; */
}

.faq-section {
    margin-left: 2rem;
    box-shadow: 0px 0px 80px 0px #d4d1d1;
    border-radius: .5rem;
    padding: 1.5rem;
}

.address-card {
    padding: 1rem;
}

.text-green {
    color: var(--dark-green);
}

.footer-link {
    text-decoration: none;
    color: black;
    line-height: 2rem;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--dark-green);
}

.links-group {
    display: flex;
    gap: 2rem;
}

.links-group a {
    color: black;
}

.links-group a:hover {
    color: var(--dark-green);
}

.footer-icons-group {
    display: flex;
    gap: 2rem;
}

.form-footer {
    /* border: 1px solid; */
    padding: 1.5rem;
    background-color: #F4F4F4;
}

.form-group {
    display: flex;
    height: 3rem;
    margin: 1.5rem 0rem;
}

.footer-input {
    padding: .5rem;
    font-size: 1.1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: 1px solid var(--dark-green);
}

.footer-input-box {
    height: 3rem;
    width: 3rem;
    /* line-height: 60px; */
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    /* border: 1px solid var(--dark-green); */
    background-color: var(--dark-green);
    color: var(--white);
    /* background-color: rgba(81, 181, 109, 0.2); */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-input-box a {
    color: var(--white);
}

.footer-input-box:hover {
    cursor: pointer;
}

.about-heading {
    font-size: 2.5rem;
}

.banner-img {
    width: 100%;
    border-radius: 1rem;
    /* margin-left: 2rem; */
}

.lead {
    font-size: 1.2rem;
    text-align: center;
}

.list {
    list-style: circle;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.list li::marker {
    color: var(--dark-green);
}

.about-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-icon {
    font-size: 2rem;
    color: var(--dark-green);
}

.values-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
}

.values-card {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 0px #d4d1d1;
}

.card-caption-green {
    color: #51B56D;
    text-transform: uppercase;
    font-size: 1rem;
}

.description {
    font-size: 1.1rem;
}

.v-center {
    align-items: center;
}

.h-center {
    text-align: center;
}

.team-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
}

.team-member-card {
    border-radius: 1rem;
    /* overflow: hidden; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-image {
    width: 100%;
    /* z-index: -1; */
}

.card-icons-group {
    /* display: flex; */
    gap: .5rem;
    background-color: var(--white);
    padding: .5rem;
    border-radius: .9rem;
    /* transition-duration: 2s; */
    display: none;
}

.team-member-card:hover .card-icons-group {
    display: flex;
    margin-top: -4.5rem;
    margin-bottom: 1rem;
}

.transparent-box {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    color: var(--nav-black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
}

.transparent-box:hover {
    color: var(--dark-green);
    cursor: pointer;
}

.howitworks-heading {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
}

.dotted-line {
    width: 70%;
    /* height: 2px; */
    border: 1px dashed var(--dark-green);
    margin: auto;
    margin-bottom: -2.5rem;
}

.questions-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 1rem;
}

.questions-card {
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px #d4d1d1;
}

.black-text {
    color: black;
    line-height: 3rem;
}

.services-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
/* .services-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 1rem;
} */

.services-cards-container-no-gap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-top: 1rem;
}

.services-cards-container-r2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 1rem;
}

.service-card {
    width: 30%;
    border: none;
    border-radius: .7rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 30px 5px #f0eded;
}

.shadow {
    box-shadow: 10px 10px 30px 5px #f0eded;
    border-radius: .5rem;
}

.form-group {
    position: relative;
}

.form-control {
    width: 100%;
    border: 1px solid var(--nav-black);
    border-radius: .3rem;
    /* height: 3.5rem; */
}

.form-text-area {
    min-width: 100%;
    border: 1px solid var(--nav-black);
    border-radius: .5rem;
    height: 10rem;
}

.form-label {
    color: var(--nav-black);
    position: absolute;
    top: -.75rem;
    left: 1.5rem;
    z-index: 1;
    background-color: var(--white);
    padding: 0rem .5rem;
}

.btn-form {
    width: 100%;
    margin-top: 7rem;
}

.legel-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

.legel-card-h1 {
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: .5rem;
    margin-bottom: 1rem;
}

.legel-card-h1:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.blog-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.blog-card {
    padding: 1rem;
}

.blog-image {
    width: 100%;
    border-radius: .5rem;
}

.blog-h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.blog-link {
    color: var(--dark-green);
    font-weight: 800;
}

.btn-blog {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    background-color: var(--off-white);
    color: var(--nav-black);
}

.btn-tag {
    padding: 1rem 2rem;
    text-align: left;
    background-color: var(--off-white);
    color: var(--nav-black);
}

.tags-btns-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.article-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.article-card {
    display: flex;
    /* flex-direction: row; */
    gap: 1rem;
    text-align: left;
    align-items: center;
    /* justify-content: left; */
}

.blog-side-image {
    width: 20%;
    border-radius: .5rem;
}

.blog-side-h4 {
    line-height: 1.2rem;
}

.blog-side-link {
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--dark-green);
    border-radius: .5rem;
    color: var(--dark-green);
}

.page-box:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark-green);
}

.first-page {
    color: var(--white);
    background-color: var(--dark-green);
}

.footer-links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}

.fooer-bottom-left {
    width: 33.333%;
    display: flex;
    /* border: 1px solid; */
}

.fooer-bottom-right {
    width: 66.666%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

.lg-center {
    text-align: center;
}
.broad-padding{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}
.lead-center {
    text-align: center;
}

/* ###################################################### */

@media only screen and (max-width:1000px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .col-12 {
        text-align: center;
    }

    .contents-left {
        text-align: left;
    }

    .services-cards-container-no-gap {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-dark {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contents-center {
        width: 100%;
        text-align: center;
        padding: 0rem 5rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        margin-top: 3rem;
    }

    .FAQ {
        width: 100%;
        text-align: center;
        padding: 0rem;
    }

    .faq-section {
        margin-left: 0rem;
        text-align: left;
        box-shadow: 0px 0px 80px 0px #d4d1d1;
        border-radius: .5rem;
        /* padding: 1.5rem; */
        margin-top: 2rem;
    }

    .form-footer {
        text-align: left;
    }

    .form-group {
        width: 100%;
        display: flex;
        height: 3rem;
        margin: 1.5rem 0rem;
    }

    .footer-input {
        width: 90%;
        padding: .5rem;
        font-size: 1.1rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        border: 1px solid var(--dark-green);
    }

    .fooer-bottom-left {
        width: 100%;
        display: flex;
        /* border: 1px solid; */
        margin-bottom: 1rem;
    }

    .fooer-bottom-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid; */
    }

    .about-heading {
        text-align: left;
    }

    .lead {
        text-align: left;
    }
    /* .lead-center {
        text-align: center;
    } */

    .list {
        text-align: left;
    }

    .about-cards-container {
        display: flex;
        flex-direction: row;
    }

    .sm-left {
        text-align: left;
    }

    .team-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-tag {
        padding: 1rem;
    }

    .sm-left {
        text-align: left;
    }

    .about-heading {
        text-align: center;
    }

    .contact-faq-section {
        text-align: left;
    }

    .faq-accordian-container {
        padding: 2rem;
    }
    .md-center{
        padding: 0rem;
    }
    .questions-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .questions-card {
        width: 45%;
    }
    .about-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-card {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dotted-line {
        width: 50%;
    }
    .legel-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .services-cards-container {
        display: flex;
    }
    .service-card {
        /* border: none;
        border-radius: .7rem;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px 30px 5px #f0eded; */
        width: 45%;
    }
}